	/*--------------------------------------------------------------
		CSS RESET
		http://meyerweb.com/eric/tools/css/reset/ 
		v2.0 | 20110126
		License: none (public domain)
	--------------------------------------------------------------*/
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
/*--------------------------------------------------------------
	FONT EMBEDDING
--------------------------------------------------------------*/

/* DINNextLTPro - Medium */
@font-face {
	font-family:'DINNextLTProMedium';
	src: url('fonts/DINNextLTPro-Medium.eot');
	src: url('fonts/DINNextLTPro-Medium.eot?#iefix') format('embedded-opentype'),
		 url('fonts/DINNextLTPro-Medium.woff') format('woff'),
		 url('fonts/DINNextLTPro-Medium.ttf') format('truetype'),
		 url('fonts/DINNextLTPro-Medium.svg#DINNextLTPro') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* DINNextLTPro - Regular */
@font-face {
	font-family:'DINNextLTPro';
	src: url('fonts/DINNextLTPro-Regular.eot');
	src: url('fonts/DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
		 url('fonts/DINNextLTPro-Regular.woff') format('woff'),
		 url('fonts/DINNextLTPro-Regular.ttf') format('truetype'),
		 url('fonts/DINNextLTPro-Regular.svg#DINNextLTPro') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*Regular Styling*/

h1, h2, h3, h4 {
	font-weight: normal ;
	margin: 0px 0px 10px 0px ;
	font-family: 'DINNextLTPro';
	color:#000;
}
h1 strong, h2 strong, h3 strong, h4 strong {
	font-family: 'DINNextLTProMedium';
}
	h1 {
		font-size: 58px ;
	}
	h2 {
		font-size: 22px ;
	}
	h3 {
		font-size: 18px ;
	}
	h1 a, h2 a, h3 a {
		font-size: 14px ;
	}
P {
	margin-top: 0px ;
	color: #333;
}
a {
	color:#06C;
	text-decoration: none ;
	outline: none ;
	font-size: 14px ;
}
hr{
	border: 1px dashed #999 ;
	height:0;
}