/*--------------------------------------------------------------
	FONT EMBEDDING
--------------------------------------------------------------*/

/* DINNextLTPro - Regular */
@font-face {
	font-family: 'DINNextLTPro' ;
	src: url('../fonts/DINNextLTPro-Regular.eot') ;
	src: url('../fonts/DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/DINNextLTPro-Regular.woff') format('woff'),
		 url('../fonts/DINNextLTPro-Regular.ttf') format('truetype'),
		 url('../fonts/DINNextLTPro-Regular.svg#DINNextLTPro') format('svg') ;
	font-weight: normal ;
	font-style: normal ;
}

/* DINNextLTPro - Medium */
@font-face {
	font-family: 'DINNextLTProMedium' ;
	src: url('../fonts/DINNextLTPro-Medium.eot') ;
	src: url('../fonts/DINNextLTPro-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/DINNextLTPro-Medium.woff') format('woff'),
		 url('../fonts/DINNextLTPro-Medium.ttf') format('truetype'),
		 url('../fonts/DINNextLTPro-Medium.svg#DINNextLTProMedium') format('svg') ;
	font-weight: normal ;
	font-style: normal ;
}


/* EDITOR ONLY STYLING */
body {
	padding: 15px ;
	background-color: #dddddd ;
	font-family: 'DINNextLTPro', Arial, Geneva, Helvetica, sans-serif ;
	color: #666666 ;
}

/*Regular Styling*/

h1, h2, h3, h4, h5 {
	font-weight: normal ;
	margin: 5px 0px 10px 0px ;
	font-family: 'DINNextLTPro', Arial, Geneva, Helvetica, sans-serif ;
	color: #000 ;
	line-height: 1em ;
}
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong {
	font-family: 'DINNextLTProMedium' ;
	font-weight: normal ;
}
	h1 {
		font-size: 48px ;
	}
	h2 {
		font-size: 22px ;
	}
	h3 {
		font-size: 18px ;
	}
	h1 a, h2 a, h3 a, h4 a, h5 a {
		font-size: inherit ;
	}
p {
	margin-top: 0px ;
	color: #333 ;
	font-family: 'DINNextLTPro', Arial, Geneva, Helvetica, sans-serif ;
	line-height: 1.2em ;
}
p strong {
	margin-top: 0px ;
	color: #333 ;
	font-family: 'DINNextLTProMedium', Arial, Geneva, Helvetica, sans-serif ;
	font-weight: normal ;
}
a {
	color: #666 ;
	text-decoration: none ;
	outline: none ;
	font-size: inherit ;
}
hr {
	border: 1px dashed #999 ;
	height: 0 ;
}
strong {
	font-family: 'DINNextLTProMedium', Arial, Geneva, Helvetica, sans-serif ;
	font-weight: normal ;
}
table {
	border: none ;
}
	table td {
		border: none ;
		padding: 0px ;
	}