// White 
$white: rgb(255,255,255) ;
// Off White
$off-white: rgb(236,236,236) ;
// Lightest Gray
$lightest-gray:  rgb(217,217,217) ;
// Light Gray
$light-gray:  rgb(204,204,204) ;
// Medium Gray
$lighter-than-medium-gray: rgb(175,175,175) ;
// Medium Gray
$medium-gray: rgb(150,150,150) ;
// Dark Gray
$dark-gray: rgb(95,96,98) ;
// Darkest Gray
$darkest-gray: rgb(42,42,42) ;
//Lightest Blue
$lightest-blue: rgb(105,213,253);
// Light Blue
$light-blue: rgb(124,218,253) ;
// Medium Blue
$medium-blue: rgb(0,174,239) ;
// Dark Blue
$dark-blue: rgb(2,139,190) ;
// Darkest Blue
$darkest-blue: rgb(7,147,200) ;