#content-wrapper {
	position: relative ;
	width: 100% ;
	padding: 0 0 200px 0 ;
	overflow: auto ;
}
	body.content-bleed #content-wrapper {
	}
	
	/*Home Page*/		
	@import 'page-home';
					
	/* Page Masthead */
	@import 'masthead';
	
	/* Contact Page */
	@import 'page-contact';
		
	/* Portfolio Pages */
	@import 'portfolio';
	
	/* Clients Page */
	@import 'page-clients';
	
	/* Brand New Page */
	@import 'page-brand-new';
					
	/* About Page */
	@import 'page-about';

	/* Blog Pages */
	@import 'blog';