/* DINNextLTPro - Regular */
@font-face {
    font-family: 'DINNextLTPro' ;
    src: url('../fonts/DINNextLTPro-Regular.eot') ;
    src: url('../fonts/DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DINNextLTPro-Regular.woff') format('woff'),
         url('../fonts/DINNextLTPro-Regular.ttf') format('truetype'),
         url('../fonts/DINNextLTPro-Regular.svg#DINNextLTPro') format('svg') ;
    font-weight: normal ;
    font-style: normal ;
}

/* DINNextLTPro - Medium */
@font-face {
    font-family: 'DINNextLTProMedium' ;
    src: url('../fonts/DINNextLTPro-Medium.eot') ;
    src: url('../fonts/DINNextLTPro-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DINNextLTPro-Medium.woff') format('woff'),
         url('../fonts/DINNextLTPro-Medium.ttf') format('truetype'),
         url('../fonts/DINNextLTPro-Medium.svg#DINNextLTProMedium') format('svg') ;
    font-weight: normal ;
    font-style: normal ;
}