@import 'colors'; 

@mixin centered {
	width: 800px ;
	margin: 0 auto 0 auto ;
}

@mixin slideshow-nav-item {
	float: left ;
	width: 25px ;
	height: 81px ;
	margin-top: 100px ;
	cursor: pointer ;
}

//-----------------------------------------------
//LIGHT BLUE GRADIENT: lightest blue -> medium blue
@mixin light-blue-gradient {
	/* The following requires the latest Compass, add '@import "compass"' the top of this file */
	background-color: $dark-blue; /* Fallback */
	@include filter-gradient($lightest-blue, $medium-blue, vertical);  /*IE6-8 */
	
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top, $lightest-blue 0%, $medium-blue 100%));
}
$light-blue-gradient: linear-gradient(top, $lightest-blue 0%, $medium-blue 100%) ;

//-----------------------------------------------
//BLUE GRADIENT: light blue -> dark blue
@mixin blue-gradient {
	/* The following requires the latest Compass, add '@import "compass"' the top of this file */
	background-color: $dark-blue; /* Fallback */
	@include filter-gradient($light-blue, $dark-blue, vertical);  /*IE6-8 */
	
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top, $light-blue 0%, $dark-blue 100%));
}
$blue-gradient: linear-gradient(top, $light-blue 0%, $dark-blue 100%) ;


//-----------------------------------------------
//DARK BLUE GRADIENT: medium blue -> dark blue;
@mixin dark-blue-gradient {
	/* The following requires the latest Compass, add '@import "compass"' the top of this file */
	background-color: $dark-blue; /* Fallback */
	@include filter-gradient($medium-blue, $dark-blue, vertical);  /*IE6-8 */
	
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top, $medium-blue 0%, $dark-blue 100%));
}
$dark-blue-gradient: linear-gradient(top, $medium-blue 0%, $dark-blue 100%) ;


//-----------------------------------------------
//LIGHT GRAY GRADIENT: light gray -> lightest gray;
@mixin light-gray-gradient {
	/* The following requires the latest Compass, add '@import "compass"' the top of this file */
	background-color: $light-gray; /* Fallback */
	@include filter-gradient($lightest-gray, $light-gray, vertical);  /*IE6-8 */
	
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top, $lightest-gray 0%, $light-gray 100%));
}
$light-gray-gradient: linear-gradient(top, $lightest-gray 0%, $light-gray 100%);


//-----------------------------------------------
//GRAY GRADIENT: light gray -> lighter than medium gray;
@mixin gray-gradient {
	/* The following requires the latest Compass, add '@import "compass"' the top of this file */
	background-color: $medium-gray; /* Fallback */
	@include filter-gradient($light-gray, $medium-gray, vertical);  /*IE6-8 */
	
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top, $light-gray 0%, $medium-gray 100%)) ;
}
$gray-gradient: linear-gradient(top, $light-gray 0%, $medium-gray 100%);


//-----------------------------------------------
//DARK GRAY GRADIENT: lighter than medium gray -> medium gray;
@mixin dark-gray-gradient {
	/* The following requires the latest Compass, add '@import "compass"' the top of this file */
	background-color: $medium-gray; /* Fallback */
	@include filter-gradient($lighter-than-medium-gray, $medium-gray, vertical);  /*IE6-8 */
	
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top, $lighter-than-medium-gray 0%, $medium-gray 100%)) ;
}
$dark-gray-gradient: linear-gradient(top, $lighter-than-medium-gray 0%, $medium-gray 100%);


//-----------------------------------------------
//DARKEST GRAY GRADIENT: medium gray -> dark gray;
@mixin darkest-gray-gradient {
	/* The following requires the latest Compass, add '@import "compass"' the top of this file */
	background-color: $dark-gray; /* Fallback */
	@include filter-gradient($medium-gray, $dark-gray, vertical);  /*IE6-8 */
	
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top, $medium-gray 0%, $dark-gray 100%)) ;
}
$darkest-gray-gradient: linear-gradient(top, $medium-gray 0%, $dark-gray 100%) ;