*::-moz-selection {
	background-color: rgb(50,50,50) ;
	color: #ffffff ;
}
*::-webkit-selection {
	background-color: rgb(50,50,50) ;
	color: #ffffff ;
}
*::-o-selection {
	background-color: rgb(50,50,50) ;
	color: #ffffff ;
}
*::selection {
	background-color: rgb(50,50,50) ;
	color: #ffffff ;
}