#PICA DEV
#AuthUserFile /Other Pica Shares/Websites/pica_approval/.htpasswd

#JAMES HOME
#AuthUserFile /My Documents/XAMPP/htdocs/pica_approval/.htpasswd

#LIVE PICA VPS
AuthUserFile /home/pica/public_html/approval/.htpasswd

AuthType Basic
AuthName "Pica Design Project Approval: Please log in"
require user picadesign